<extend name="Public/base" />
<block name="content">
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORMPORTLET-->
        <div class="widget blue">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> 编辑来源</h4>
                <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                </span>
            </div>
            <div class="widget-body">
                <!-- BEGIN FORM-->
                <form action="{:U('source/edit')}" class="form-horizontal" method="post">
                    <div class="control-group">
                        <label class="control-label">来源名称</label>
                        <div class="controls">
                            <input type="hidden" name="id" value="{$info.id}">
                            <input type="text" placeholder="请输入来源名称" class="input-xxlarge" name="sname" value="{$info.sname}">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue"><i class="icon-ok"></i> 编辑</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
  </div>
</block>